body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .95em;
    color: #555;
}

main {
    max-width: 600px;
    margin: 3em auto;
}

p {
    line-height: 1.6em;
}

h1, h2, h4, h5, h6, p {
    margin: 1em 0;
    color: #333;
}

h1 {
    margin-bottom: 0;
    font-size: 2.6em;
    color: #6473aa;
    font-weight: 700;
}

h2 {
    font-size: 1.2em;
    color: #666;
}

h3 {
    margin-top: 1.5em;
    font-size: 1.6em;
}

a {
    color: #c30;
}

img {
    display: block;
    margin: 1em 0;
}

table {
    width: 100%;
}

table th, table td {
    padding: .3em;
}

table th {
    text-align: left;
}

table tr:nth-child(odd) {
     background-color: #efefef;
}

table tr:nth-child(even) {
     background-color: #fafafa;
}

ul li { margin: .4em 0 ;}

.footer {
    margin-top: 4em;
    font-size: .9em;
    color: #aaa;
}