version: 0.1.0-{build}
image: Visual Studio 2017
environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
init:
  - git config --global core.autocrlf true
build: off
build_script:
  - ps: .\build.ps1
test: off
nuget:
  account_feed: false
  project_feed: false