
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buildstats.info - Tests</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        main {
            margin: 0 auto;
            max-width: 480px;
        }
    </style>
</head>
<body>
    <main>
        <h1>Buildstats.info - Tests</h1>
		
        <h5>neventsocket-prerelease/NEventSocket</h5>
        <img src="~/myget/neventsocket-prerelease/NEventSocket"/>
    </main>
</body>
</html>
