
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buildstats.info - Tests</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        main {
            margin: 0 auto;
            max-width: 480px;
        }
    </style>
</head>
<body>
    <main>
        <h1>Buildstats.info - Tests</h1>
		
        <h5>Lanem</h5>
        <img src="~/nuget/lanem"/>

        <h5>Guardo</h5>
        <img src="~/nuget/guardo"/>

        <h5>Newtonsoft.Json</h5>
        <img src="~/nuget/Newtonsoft.Json"/>

        <h5>Moq</h5>
        <img src="~/nuget/moq" />

        <h5>Nunit</h5>
        <img src="~/nuget/nunit" />

        <h5>NSubstitute</h5>
        <img src="~/nuget/nsubstitute" />

        <h5>jQuery</h5>
        <img src="~/nuget/jquery" />

        <h5>ASP.NET MVC</h5>
        <img src="~/nuget/microsoft.aspnet.mvc" />

        <h5>EntityFramework</h5>
        <img src="~/nuget/entityframework" />
    </main>
</body>
</html>
