<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <!--ASP.NET Settings-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Build History Chart Settings-->
    <add key="Default_Build_Count" value="25" />
    <add key="Chart_FontSize" value="12" />
    <add key="Chart_Bar_MaxHeight" value="50" />
    <add key="Chart_Bar_Width" value="5" />
    <add key="Chart_Bar_Gap" value="3" />
    <add key="Chart_Success_Color_Code" value="#04b431" />
    <add key="Chart_Failed_Color_Code" value="#ff0000" />
    <add key="Chart_Pending_Color_Code" value="#ffbf00" />
    <add key="Chart_Cancelled_Color_Code" value="#888888" />
    <add key="Chart_Title_Color_Code" value="#000000" />
    <add key="Chart_Text_Color_Code" value="#777777" />
    <add key="Chart_TimeSpan_Format" value="hh\:mm\:ss\.ff" />
    <!--NuGet Badge Settings-->
    <add key="NuGet_FontSize" value="12" />
    <add key="NuGet_FontFamily" value="Helvetica,Arial,sans-serif" />
    <add key="NuGet_FontColour" value="#000000" />
    <add key="NuGet_Badge_Height" value="20" />
    <add key="NuGet_Badge_CornerRadius" value="2" />
    <add key="NuGet_Badge_BackgroundColour_Title" value="#333333" />
    <add key="NuGet_Badge_BackgroundColour_Version" value="#00b359" />
    <add key="NuGet_Badge_BackgroundColour_Downloads" value="#483C32" />
    <!--Lanem Settings-->
    <add key="Lanem_Log_Directory_Path" value="~\App_Data\Logs" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <add name="NuGetUrlRoutingHandler"
           type="System.Web.Routing.UrlRoutingHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           path="/nuget/*"
           verb="GET"/>
    </handlers>
    <modules>
      <!-- Remove default ASP.NET modules which are not required by this website -->
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="RoleManager" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <!-- Add global error logging -->
      <add name="Lanem" type="Lanem.ErrorHandlerModule, Lanem" />
    </modules>
    <httpErrors errorMode="Custom" defaultResponseMode="File" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="400" path="ErrorPages\BadRequest.html" />
      <error statusCode="403" path="ErrorPages\Forbidden.html" />
      <error statusCode="404" path="ErrorPages\NotFound.html" />
      <error statusCode="500" path="ErrorPages\InternalError.html" />
    </httpErrors>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>